{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html class="wide wow-animation" lang=en xmlns=http://www.w3.org/1999/html>
<head>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>EnterNewPassword</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0">
<meta http-equiv=X-UA-Compatible content="IE=edge">


</head>
<body style= style=margin-left:40%;background-color:#3a2e2e;>
<div class="preloader"style="background-color: black">
<div class=preloader-body>
<div class=cssload-container>


 {% if user.is_authenticated %}
    <li class="rd-nav-item"><h6 style="margin-top:-10px"><a class="rd-nav-link" href="/ui">Hello, {{user.first_name}}</a></h6>
</li>
    {% else %}
    <li class="rd-nav-item"><h6 style="margin-top:-10px"><a class="rd-nav-link" href="/userlogin">USER</a></h6>
</li>
    {% endif %}
</ul>
</div>
</div>
</div>
</nav>
</div>




<center>
<form style=color:white;margin-bottom:110px;margin-top:100px;action="." method="post">
{{ form.as_p }}
<p><input type="submit" value="Send IT."></p>
{% csrf_token %}
</form>
</center>


<script src="{% static '/js/core.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>