{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang=en xmlns=http://www.w3.org/1999/html>
<head>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>CheckYourEmail</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, height=device-height, initial-scale=1.0">
<meta http-equiv=X-UA-Compatible content="IE=edge">
<link rel=icon href="{% static '/images/title-img.png' %}" type=image/x-icon>
<link rel=stylesheet type=text/css href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
<link rel=stylesheet href="{% static '/css/bootstrap.css' %}">
<link rel=stylesheet href="{% static '/css/fonts.css' %}">
<link rel=stylesheet href="{% static '/css/style.css' %}">
<link rel=stylesheet href="{% static '/css/styledrop.css' %}">
<link rel=stylesheet type=text/css href="{% static '/css/stylefooter.css' %}">
<style>.ie-panel{display:none;background:#212121;padding:10px 0;box-shadow:3px 3px 5px 0 rgba(0,0,0,.3);clear:both;text-align:center;position:relative;z-index:1}html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel{display:block}</style>
</head>
<body style=background-color:black>
<div class="preloader"style="background-color: black">
<div class=preloader-body>
<div class=cssload-container>

 {% if user.is_authenticated %}
    <li class="rd-nav-item"><h6 style="margin-top:-10px"><a class="rd-nav-link" href="/ui">Hello, {{user.first_name}}</a></h6>
</li>
    {% else %}
    <li class="rd-nav-item"><h6 style="margin-top:-10px"><a class="rd-nav-link" href="/userlogin">USER</a></h6>
</li>
    {% endif %}
</ul>
</div>
</div>
</div>
</nav>
</div>




<center>
<h4 style="margin-top:85px;color:red;">We've emailed you instructions for setting your password.</h1>
<p style="color:white;"><b>If you don't receive an email, please make sure you've entered the
address you registered with.</b></p>
<button style="height:30px;margin-bottom:85px;"><a href="https://mail.google.com/mail/" target="_blank"><p>Jump To Gmail.</p></button></a>

<div class="snackbars" id="form-output-global"></div>
<script src="{% static '/js/core.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>